#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
 
.className{
  height: 56;
margin: 56
}

.pagination{
  display: flex;
  justify-content: center;
}

.card {
  padding: 2em;
}

